.footer
	position absolute
	bottom 0
	width: 100%
	+for_breakpoint(mobile)
		background-color: $azul
	footer
		width: 100%
		img
			width: 100%
		.text-footer
			position absolute
			bottom 0
			width 100%
			text-align center
			font-size 15px
			color #fff
			padding 28px 0 
			font-weight 300
			h1
				font-size 15px
				color #fff
				display inline-block
				margin: 0
				font-weight 300
			a
				color white
			