.contenido-post-single
	box-shadow: 0 1px 6px rgba(0,0,0,.2)
	background: #fff
	padding-left 20px
	padding-top 30px
.header-post	
	position: relative
	img
		width: 100%
		height auto
	.contenido-post
		position absolute
		bottom 30px
		left 20px
		width: 70%
		.categoria
			color #fff
			a
				color white
		.fecha
			color #fff
			display inline-block
	.social-links-posts
		position absolute
		right: 20px
		bottom 30px
		img
			width: 26px
	.gdrts-rating-block
		display inline-block
		margin 0 10px
		.gdrts-rating-text
			display none
			
	
			
			
	h1
		color white
		margin 0
		text-transform uppercase
		
	&:before
		content ""
		position absolute
		bottom 0
		left 0
		top 0
		right: 0
		width: 100%
		background-size: 100% 100%
		background rgba(0, 0, 0, .8) none
		background none, -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .8))
		background none, linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .8))
		


		

.body-text
	font-size 16px
	text-align justify
	

	
	